/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #1D3557;
}

.hero-section {
  background-image: url("images/annarbor2.jpeg");
  background-size: cover;
  width: 720px;
  height: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: #F1FAEE;
  background-color: #1D3557;
  font-size: 2rem;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 10px;
  margin-bottom: 0;
}

.hero-subtitle {
  color: #F1FAEE;
  background-color: #457B9D;
  width: 430px;
  padding: 6px 18px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.activities-section h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

.act-wrapper img {
  width: 100px;
  border-radius: 50%;
}

.act-wrapper {
  width: 720px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.act-card {
  width: 200px;
  font-size: 1rem;
}

.guide-section {
  margin: 40px auto;
}

.guide-wrapper {
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: center;
}